.loading-overlay-from-component {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(14, 14, 14, 0.082);
  overflow: hidden;
  z-index: 9999; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.centered-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    font-weight: bold;
}

.text-container {
  display: flex;
  align-items: center;
}

.text-wrapper {
  position: relative;
  display: inline-block;
  min-width: 6em;
  text-align: center; 
}

.text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.text.active {
  opacity: 1;
  position: relative; 
}

.jumping-dots {
  display: inline-block;
  margin-left: 0px;
}

.dot {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.2em;
  border-radius: 50%;
  background-color: white;
  animation: jump 1s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: -0.32s;
}

.dot:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.shooting-star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
  animation: shootVerticalOnly linear infinite;
  opacity: 0;
}

.shooting-star::before {
  content: '';
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  width: 1px; 
  height: 350px;
  background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.8) 0%, 
    rgba(255, 255, 255, 0) 100%); 
}

@keyframes shootVerticalOnly {
  0% {
    transform: translateY(100vh); 
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% { 
    opacity: 1;
  }
  100% {
    transform: translateY(-200px); 
    opacity: 0;
  }
}